{% extends 'classbased/base.html' %}


{% block content %}
    <h1>Classroom</h1>
    <a href="#" class=" btn btn-primary" style="float: right;">Add Student</a>
    <br>
    <form method="post" action="#">
    {% csrf_token %}
        {{ form }} <br>
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
    <br>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        {% for class in classrooms %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ class.name }}</td>
                <td>
                    <a class="btn btn-primary" href="{% url 'classbased_update_classroom' class.id %}">Update</a>
                    <a href="{% url 'classbased_delete_classroom' class.id %}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
