{% extends 'myapp/base.html' %}


{% block content %}
    <h1>Classroom</h1>
    <a href="#" class=" btn btn-primary" style="float: right;">Add Student</a>
    <br>
    <form method="post" action="{% url 'add_classroom' %}">
    {% csrf_token %}
        Name:
        <input name="classname">
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
    <br>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
        </tr>
        </thead>
        <tbody>
        {% for class in classrooms %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ class.name }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
